h1 {
  margin-top: 40px;
  line-height:  50%;
  text-align: center;
} 

body {
  font-family: 'Inter';
  background: #09A2CB;
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  margin: 20px 0px 20px 0px;

}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  display: inline-block;
  margin-bottom: 0px
}

button {
  border-radius: 1px;
}

/* Los campos */
input,
button {
  font-size: 20px;
  padding: 4px;

}

/* Fila del formulario */
.fila {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  position: relative;
}

/* Labels de propiedades */
.propiedad {
  min-width: 40%;
  text-align: right;
  padding-right: 10px;
  order: -1;
}



/* el formnulario ingresar producto*/
/* Se agragron bordes negros como en figma */
.contenedor {
  width: 100%;
  margin: 12px;
  padding: 2px;
  background-color: rgb(253, 253, 253);
  border-radius: 2px;
  border: 2px solid;
  border-color: black;
}

form {
  padding-top: 50px;
  color: black;
}

form ul {
  list-style: none;
}


.wrapper {
  display: flex;
}

/*color barra lateral */
.bg-gradient-primary {
  background-color: #fefefe;
  margin: 10px;
  border: 2px solid;
  border-color: black;
}
/* Se agrego el color dentro del texto */
input {
  background-color: #F8E9E9;
  text-align: left;
  border-radius: 10px;
}

.sidebar {
  min-height: 96vh;
  padding-top: 50px;
}

/* barra lateral */
/* Se achicaron los recuadros (ver como tirar textos mas arriba) */
.sidebar .nav-item .nav-link {
  border: 2px solid;
  border-color: black;
  display: block;
  text-align: center;
  padding: 10px;
  width: 200px;
  margin: 20px;
  height: 40px;
  border-radius: 1px;
  background-color: #ECF0F1;
}

.sidebar .nav-item .nav-link span {
  font-size: 20px;
  display: inline;
}

.salir {
  text-align: center;
  font-size: 20px;
  border: 2px solid transparent;
  background-color: #7E9FB5;
  color: black;
  margin-left: 25px;
  padding: 10px 0;
  display: block;
  width: 13%;
  position: absolute;
  top: 80%;
}

.sidebar-dark .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.8);
}

.table {
  padding: 52px 52px 52px 52px;
}

th {
  background-color: #F0F0F0;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #000000 !important;
}